# Виртуальное окружение (никогда не грузим)
final_env/
venv/
env/

# Кэш Python
__pycache__/
*.pyc

# Папки с результатами (логи можно не грузить, они генерируются заново)
outputs/
outputs_csv/

# Системные файлы Mac
.DS_Store

# Старые/Временные файлы статистики (если они лежат в корне)
baseline_*.xml
baseline_*.csv
results.txt

# Идеи (папки редакторов кода)
.idea/
.vscode/